  <div class="border border-secondary rounded mb-3">

    <h4 class="text-light border-bottom border-secondary p-2">
      List of feedback</h4>
    <div class="p-2">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Attend</th>
          </tr>
        </thead>
        <tbody>

          {{#each feedbacks}}
            <tr>

              <th scope="row"> {{ @index }} </th>
              <td> <strong>{{this.name}}</strong> </td>
              <td> {{this.email}} </td>
              <td> {{this.willAttend}} </td>
            </tr>

          {{/each}}

        </tbody>
      </table>
    </div>

    <div class="p-2 mb-3">
      <button class="btn bg-primary rounded">
        <a href="/" class="text-light text-decoration-none"> Go home </a>
      </button>
    </div>
  </div>