 

    <div class="mb-3">
        <h4 class="text-info bg-dark-green text-center p-2 py-3 border-dark-green rounded"> Welcome to ABC Conference</h4>
    </div>

    <div class="mb-3 pb-3 text-center">
        <button class="btn bg-primary me-1">
            <a href="/feedback-form" class="text-light text-decoration-none"> Confirm you attendance </a>
        </button>

        <button class="btn bg-primary text-light ms-1">
            <a href="/feedbacks" class="text-light text-decoration-none"> View the attendee list </a>
        </button>
    </div>
