
* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #efefef;
}

:root {
    --firstColor: #AA0000;
    --secondColor: #fd5c63;
}

.container {
    background: linear-gradient(to right, var(--firstColor), var(--secondColor));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

h1 {
    font-size: 4rem;
    letter-spacing: 2rem;
}

h2 {
    font-size: 2rem;
    word-spacing: 1rem;
}
